version: "3.8"

services:
  ollama:
    image: ollama/ollama:latest
    container_name: ollama
    restart: unless-stopped
    ports:
      - "11434:11434"
    volumes:
      - ollama-data:/root/.ollama
      - /home/adnan-kharino/Desktop/project2.1:/root/project2.1
    deploy:
      resources:
        limits:
          memory: 8G
          cpus: '4'

volumes:
  ollama-data:
